#Seven Signs Festival Data
accumulatedBonus53=0
topParty42=
currentTopParty9=
currentTopParty8=
currentTopParty7=
currentTopParty6=
currentTopParty5=
currentTopParty4=
currentTopParty3=
currentTopParty2=
accumulatedBonus64=0
currentTopParty1=
accumulatedBonus31=0
topParty53=
accumulatedBonus90=0
accumulatedBonus42=0
currentTopParty10=
topParty64=
topParty31=
topParty90=
