#Seven Signs Status Data
dusk_stone_score=0
avarice_dawn_score=0
dawn_stone_score=0
dusk_festival_score=0
gnosis_dusk_score=0
strife_owner=0
previous_winner=0
active_period=1
strife_dusk_score=0
gnosis_owner=0
avarice_owner=0
avarice_dusk_score=0
strife_dawn_score=0
gnosis_dawn_score=0
current_cycle=1
dawn_festival_score=0
